.body {
  padding: 20px;
  text-align: center;
}

.ons-button-inner .fa {
  margin-right: 5px;
}

.map {
  height: 75%;
  width: 75%;
  margin: 5% auto 0 auto;
}

ons-list-item.selected {
  background-color: #1284ff;
  color: #fff;
}

.profileButtons button {
  width: 50%;
  text-align: center;
  margin-top: 16px
}

.greatButtons button {
  width: 60%;
  text-align: center;
  margin-top: 16px
}

.form-label {
  display: inline-block;
  max-width: 100%;
  margin: 5px 5px 5px 0;
  font-weight: 700;
}
.form-error {
  border: 1px solid red;
}
.form-error-description {
  color: red;
}

.center {
  text-align: center;
}


.current_position {
  background-color: #f5f5f5;

}
input.ng-invalid {
  border: 1px solid red;
}

.leftIconButton {
  float: left;

  ons-icon {
    margin-top: 25%;
  }
}

.leftIconItem {
  float: left;

  ons-icon {
    margin-top: 45%;
  }
}

.removeColumnButton {
  text-align:center;
  display: block;
  margin: 4% 2% 4% 2%;
  border: 0px;
}

.timeInput {
  text-align:center;
  display: block;
  width: 95%;
  margin: 4% 2% 4% 2%;
}

.bordered {
  border: 1px solid #fff;
}
