ons-page.center(ng-controller="AddLocationCtrl")
  ons-toolbar
    .center Neuen Ort hinzufügen
  ons-row(style="float: center")
    ons-col
      section(id="map")
        ons-row
          div(ui-map="mampfMap", class="map", ui-event="{ 'map-click': 'mapClick($event,$params)' }", ui-options="mapOptions")
        ons-row
          ons-col(align="center")
            br
            label.form-label Name
            input(type="text" style="text-align: center", ng-model="locationModel", class="text-input")


  ons-row(style="margin-top: 16px",align="center")
    ons-col
      ons-button(ng-click="refreshPosition()") Position abfragen
    ons-col
      ons-button(ng-click="addNewLocation() && ons.navigator.popPage();") Hinzufügen
