ons-navigator(var="locationsNav")
  ons-page.center(ng-controller="ShowLocationsCtrl")
    ons-toolbar
      .center Gespeicherte Orte
      .right
        ons-toolbar-button(ng-click="ons.navigator.pushPage('partials/locations/addNewLocationPage.html')")
          ons-icon(icon="plus")
    section(style="padding: 8px" )
      ons-list
        ons-list-item(ng-repeat="location in locations")
          .listContent(ng-click="editLocation(location)")
            | {{location.locationName}}
          .listIcons
            a(ng-click="deleteLocation($index)")
              i.fa.fa-border.fa-fw.fa-times
