<!--ons-navigator-->
ons-page(class="center", ng-controller="MapsCtrl")
  ons-toolbar
    .center Ort auswählen

  section(style="float: center; padding: 8px")
    div
      ons-list
        ons-list-item(ng-repeat="city in cities", ng-class="{selected: city.selected }", ng-click="toggleCity(city)") {{city.cityName}}
  section(style="float: center; padding: 8px")
    ons-row
      ons-col
        ons-button(style="display: block; width: 95%",ng-click="ons.navigator.popPage()")
          | Fertig
      ons-col
        ons-button(style="display: block; width: 95%", ng-click="ons.navigator.pushPage('partials/profile/addNewLocationPage.html', { animation : 'slide' } )")
          | Neuen Ort erstellen
