ons-page.center(ng-controller="ChooseLocationCtrl")
  ons-toolbar
    .center Ort auswählen

  section(style="float: center; padding: 8px")
    div
      ons-list
        ons-list-item(ng-repeat="location in locationsForChoose", ng-class="{selected: location.selected }", ng-click="toggleLocation(location)") {{location.locationName}}
  section(style="float: center; padding: 8px")
    ons-row
      ons-col
        ons-button(style="display: block; width: 95%",ng-click="ons.navigator.popPage()")
          | Fertig
      ons-col
        ons-button(style="display: block; width: 95%", ng-click="ons.navigator.pushPage('partials/profile/addNewLocationPage.html', { animation : 'slide' } )")
          | Neuen Ort erstellen
