ons-page.center(ng-controller="ChooseContactCtrl")
  ons-toolbar
    .left
      ons-back-button(ons-if-platform="ios") Zur체ck
    .center Kontakte ausw채hlen

  section(style="padding: 8px" )
    //div
      | Ausgew채hlte Kontakte {{(contactsForChoose | filter:{selected: true}).length}}
    ons-list
      ons-list-item(ng-repeat="contact in contactsForChoose", ng-class="{ selected: contact.selected }", ng-click="toggleContact(contact)") {{contact.displayName}}
      ons-list-item(ng-hide="contactsForChoose.length")
        .leftIconItem
          ons-icon(icon="frown-o")
        .center
          | Keine Kontakte verf체gbar

  section(style="padding: 8px")
    ons-button(modifier="large", ng-click="ons.navigator.popPage();")
      | Fertig
