ons-page(class="center")
  ons-toolbar
    .center Kontakte auswählen

  section(style="padding: 8px" )
    div(ng-controller="ContactCtrl")
      | Selected Contacts {{(contacts | filter:{selected: true}).length}}
      ons-list
        contact-entry(ng-repeat="contact in contacts")

  section(style="padding: 8px")
    ons-button(ng-click="ons.navigator.popPage();")
      | Fertig
