ons-page.center(ng-controller="ChooseLocationCtrl")
  ons-toolbar
    .left
      ons-back-button(ons-if-platform="ios") Zurück
    .center Ort auswählen

  section(style="float: center; padding: 8px")
    div
      ons-list
        ons-list-item(ng-repeat="location in locationsForChoose", ng-class="{selected: location.selected }", ng-click="toggleLocation(location)") {{location.locationName}}
        ons-list-item.current_position(ng-class="{ selected: positionLocation }", ng-click="setLocationPosition()")
          .leftIconItem
            ons-icon(icon="location-arrow")
          .center
            | Aktuelle Position verwenden
  section(style="float: center; padding: 8px")
    ons-row
      ons-col
        ons-button(modifier="large", ng-click="ons.navigator.popPage()")
          | Fertig
