ons-page(class="center")
  ons-toolbar
    .center Kontakte auswählen

  section(style="padding: 8px" )
    div(ng-controller="ContactCtrl")
      | Selected Contacts {{(contacts | filter:{selected: true}).length}}
      ons-list
        ons-list-item(ng-repeat="contact in contacts", ng-class="{selected: contact.selected }", ng-click="toggleContact(contact)") {{contact.displayName}}

  section(style="padding: 8px")
    ons-button(ng-click="ons.navigator.popPage();")
      | Fertig
