ons-navigator(ng-controller="LunchRequestCtrl")
  ons-page
    ons-toolbar
      .center Neuer Essensvorschlag
    section(style="margin-top: 20px; padding: 8px; text-align: center" )
      | Start- und Endzeit festlegen
      ons-row(align="center")
        ons-col
          input(shared-validate="request.endTime", name="startTime", type="time", class="text-input", ng-model="request.startTime", placeholder="12:00", style="text-align:center;display: block; width: 95%")
        ons-col
          input(shared-validate="request.startTime", name="endTime", type="time", class="text-input", ng-model="request.endTime", placeholder="14:00", style="text-align:center;display: block; width: 100%")
    .greatButtons
      ons-row(style="padding: 8px")
        ons-col(align="center")
          ons-button(ng-click="ons.navigator.pushPage('partials/lunch/chooseLocationPage.html', { animation : 'slide' } )" )
            | Ort auswählen
          br
          | Ausgewählter Ort: {{getSelectedLocationName() || "Kein Ort ausgewählt"}}

      ons-row(style="padding: 8px")
        ons-col(align="center")
          ons-button(ng-click="ons.navigator.pushPage('partials/lunch/chooseContactsPage.html', { animation : 'slide' } )" )
            | Kontakte auswählen
          br
          | Anzahl ausgewählter Kontakte: {{getCount()}}

      ons-row(style="padding: 8px;margin-top: 16px")
        ons-col(align="center")
          ons-button(ng-click="doRequest()", disabled="{{getCount() == 0 || getSelectedLocationName() == null}}" )
            | Anfrage verschicken
            ons-icon(icon="cutlery")
