ons-navigator(ng-controller="LunchRequestCtrl")
  ons-page
    ons-toolbar
      .center Neuer Essensvorschlag
    section.center(style="padding: 8px" )
    .greatButtons
      ons-row(style="padding: 8px")
        ons-col(align="center")
          ons-button(ng-click="ons.navigator.pushPage('partials/lunch/setTimeslotsPage.html', { animation : 'slide' } )" )
            | Zeiten angeben
      ons-row(style="padding: 8px")
        ons-col(align="center")
          ons-button(ng-click="ons.navigator.pushPage('partials/lunch/chooseLocationPage.html', { animation : 'slide' } )" )
            | Ort auswählen
          br
          | Ausgewählter Ort: {{getSelectedLocationName() || "Kein Ort ausgewählt"}}

      ons-row(style="padding: 8px")
        ons-col(align="center")
          ons-button(ng-click="ons.navigator.pushPage('partials/lunch/chooseContactsPage.html', { animation : 'slide' } )" )
            | Kontakte auswählen
          br
          | Anzahl ausgewählter Kontakte: {{getCount()}}

      ons-row(style="padding: 8px;margin-top: 16px")
        ons-col(align="center")
          ons-button(ng-click="doRequest()", disabled="{{requestNotReady()}}" )
            .leftIconButton
              ons-icon(icon="cutlery")
            .center
              | Anfrage verschicken
