ons-navigator(ng-controller="LunchRequestCtrl")
  ons-page
    ons-modal(var="failureModal",ng-click="failureModal.hide()")
      ons-icon.center(icon="frown-o")
      br
      | Leider kein Sucherfolg. Bitte erneut suchen!
      br
      | {{failureReason}}
    ons-toolbar
      .center Neuer Essensvorschlag
    section.center(style="padding: 8px" )
      ons-row(style="padding: 8px")
        ons-col(align="center")
          ons-button(modifier="large", ng-click="ons.navigator.pushPage('partials/lunch/setTimeslotsPage.html', { animation : 'slide' } )" )
            | Zeiten angeben
          br
          | Ausgewählte Zeiten: {{getSelectedTimes()}}
      ons-row(style="padding: 8px")
        ons-col(align="center")
          ons-button(modifier="large", ng-click="ons.navigator.pushPage('partials/lunch/chooseLocationPage.html', { animation : 'slide' } )" )
            | Ort auswählen
          br
          | Ausgewählter Ort: {{getSelectedLocationName() || "Keiner"}}

      ons-row(style="padding: 8px")
        ons-col(align="center")
          ons-button(modifier="large", ng-click="ons.navigator.pushPage('partials/lunch/chooseContactsPage.html', { animation : 'slide' } )" )
            | Kontakte auswählen
          br
          | Ausgewählte Kontakte: {{getCount() || "Keine"}}

      ons-row(style="padding: 8px;margin-top: 16px")
        ons-col(align="center")
          ons-button(modifier="large", ng-click="doRequest()", disabled="{{requestNotReady()}}", ng-hide="requestSent")
            .center
              ons-icon(icon="cutlery")
              | Anfrage verschicken
          ons-button.disabled(modifier="large", ng-show="requestSent")
            .center
              ons-icon(icon="cutlery", spin="true")
              | Anfrage wird verarbeitet
