ons-navigator
  ons-page
    ons-toolbar
      .center Neuer Essensvorschlag
    section(style="margin-top: 20px; padding: 8px; text-align: center" )
      | Start- und Endzeit festlegen
      ons-row(align="center")
        ons-col
          input(type="time", class="text-input", ng-model="startTime", placeholder="12:00", style="text-align:center;display: block; width: 95%")
        ons-col
          input(type="time", class="text-input", ng-model="endTime", placeholder="14:00", style="text-align:center;display: block; width: 100%")

    .lunchButtons
      ons-row(style="padding: 8px")
        ons-col(align="center")
          ons-button(ng-click="ons.navigator.pushPage('partials/lunch/chooseLocationPage.html')" )
            | Ort auswählen
          br
          | Ausgewählter Ort: test

      ons-row(style="padding: 8px")
        ons-col(align="center")
          ons-button(ng-click="ons.navigator.pushPage('partials/lunch/chooseContactsPage.html')" )
            | Kontakte auswählen
          br
          | Anzahl Kontakte: 1111

      ons-row(style="padding: 8px;margin-top: 16px")
        ons-col(align="center")
          ons-button(ng-click="ons.navigator.pushPage('partials/lunch/showResultsFailurePage.html')" )
            | Anfrage verschicken
            ons-icon(icon="cutlery")
