getons-page.center(ng-controller="LunchResponseCtrl")
  ons-toolbar
    .center Ergebnisse - Erfolgreiche Suche

  section(style="padding: 8px")
    div
      | Uhrzeit
    ons-row(style="padding: 8px")
      ons-col(align="center") Startpunkt: {{getStart()}}
      ons-col(align="center") Endpunkt: {{getEnd()}}

  section(style="padding: 8px")
      ons-list
        ons-list-header Ausgewählte Kontakte
        ons-list-item(ng-repeat="contact in selectedContacts")
          | {{contact.displayName}}
          .listIcons
            a(href="tel:{{contact.telephone}}")
              i.fa.fa-border.fa-fw.fa-mobile
