ons-page.center(ng-controller="LunchResponseCtrl")
  ons-toolbar
    .center {{setTitle()}}

  section(style="padding: 8px")
    div
      | Es konnten keine treffenden Personen gefunden werden. Aktualisieren Sie bitte die Anfrage.

  .greatButtons
    section(style="padding: 8px")
      ons-row(align="center")
        ons-col
          ons-button(ng-click="ons.navigator.pushPage('partials/lunch/lunch.html', { animation : 'slide' } )" )
            .leftIconButton
              ons-icon(icon="cutlery")
            .center
              | Neue Anfrage
      ons-row(align="center")
        ons-col
          ons-button(ng-click="ons.navigator.pushPage('partials/profile/profile.html', { animation : 'slide' } )" )
            .leftIconButton
              ons-icon(icon="user")
            .center
              | Profil anzeigen
      ons-row(align="center")
        ons-col
          ons-button(ng-click="ons.navigator.pushPage('partials/contacts/contacts.html', { animation : 'slide' } )" )
            .leftIconButton
              ons-icon(icon="group")
            .center
              | Kontakte anzeigen
