ons-navigator(ng-controller="ContactListCtrl")
  ons-page
    ons-toolbar
      .center Kontakte
      .right
        ons-toolbar-button(ng-click="contactAdd()")
          ons-icon(icon="plus")
    section(style="padding: 8px")
      ons-list
        ons-list-item(ng-repeat="contact in contacts") {{contact.displayName}}
