
ons-page(class="center", ng-controller="MapsCtrl")
  ons-toolbar
    .center Neuen Ort hinzufügen

  ons-row(style="float: center")
    ons-col
      //| {{position}}
      section(id="map")
        div(ui-map="mampfMap", class="map", ui-event="{ 'map-click': 'mapClick($event,$params)' }", ui-options="mapOptions")
        ons-row
          ons-col(align="center")
            | Name:
            input(type="text",pattern="[a-uA-Z0-9]+", style="text-align: center", ng-model="LocationModel")


  ons-row(style="margin-top: 16px",align="center")
    ons-col
      ons-button(ng-click="refreshPosition()") Position abfragen
    ons-col
      ons-button(ng-click="addNewLocation();ons.navigator.popPage();") Hinzufügen
