
ons-page(class="center", ng-controller="MapsCtrl")
  ons-toolbar
    .center Neuen Ort hinzufügen

  ons-row(style="float: center")
    ons-col
      //| {{position}}
      section(id="map")
        div(ui-map="mampfMap", ui-options="mapOptions", class="map")
        ons-row
          ons-col(align="center")
            | Name:
            input(type="text",name="LocationName",pattern="[a-uA-Z0-9]+", placeholder="Ort {{cityCount + 1}}", style="text-align: center")


  ons-row(style="margin-top: 16px",align="center")
    ons-col
      ons-button(ng-click="refreshPosition()") Position abfragen
    ons-col
      ons-button(ng-click="ons.navigator.popPage();") Fertig
