ons-page(class="center", ng-controller="MapsCtrl")
  ons-toolbar
    .center Neuen Ort hinzufügen
  ons-row(style="float: center")
    ons-col
      section(id="map")
        ons-row
          div(ui-map="modalMampfMap", class="map", ui-options="modalMapOptions")
