ons-navigator(ng-controller="ProfileCtrl")
  ons-page
    ons-toolbar
      .center Profil
    section(style="padding: 8px")
      form(name="profileForm", novalidate)
        label.form-label Handynummer
        br
        input(class="text-input", ng-class="{ 'form-error': profileForm.telephone.$invalid }", name="telephone", ng-model="user.telephone", ng-required="true", ng-pattern="/\s*\\+49[0-9 ]{7,}/", placeholder="Bitte ihre eigene Handynummer eingeben", style="display: block; width: 100%")
        span.form-error-description(ng-show="profileForm.telephone.$invalid") Telefonnummer muss im Format +49 1234 12345 (Leerzeichen optional) sein
    .profileButtons
      ons-row(style="padding: 8px")
        ons-col(align="center")
          ons-button(ng-click="ons.navigator.pushPage('partials/profile/showLocationsPage.html', { animation : 'slide' } )")
            ons-icon(icon="map-marker")
            | Orte anzeigen

      ons-row(style="padding: 8px")
        ons-col(align="center")
          ons-button(ng-click="ons.navigator.pushPage('partials/profile/addNewLocationPage.html', { animation : 'slide' } )")
            ons-icon(icon="plus")
            | Ort hinzufügen
