ons-page(class="center")
  ons-toolbar
    .center Gespeicherte Orte

  section(style="padding: 8px" )
    div(ng-controller="ContactCtrl")
      ons-list
        //ons-list-item(ng-repeat="location in locations") {{location.Name}}
        ons-list-item
          | Ort 1
        ons-list-item
          | Ort 2
        ons-list-item
          | Ort 3
  section(style="padding: 8px")
    ons-row
      ons-col(align="center")
        ons-button(ng-click="ons.navigator.popPage();")
          | Zurück
