ons-page(class="center")
  ons-toolbar
    .center Gespeicherte Orte

  section(style="padding: 8px" )
    div(ng-controller="MapsCtrl")
      ons-list
        ons-list-item(ng-repeat="city in cities")
          span {{city.cityName}}
          b {{city.latitude}} / {{city.longitude}}
  section(style="padding: 8px")
    ons-row
      ons-col(align="center")
        ons-button(ng-click="ons.navigator.popPage();")
          | Zurück
