ons-page(class="center")
  ons-toolbar
    .center Neuen Ort hinzufügen

  ons-row(style="float: center")
    ons-col
      div
        | dummy container für google maps
  ons-row(style="margin-top: 16px",align="center")
    ons-button(ng-click="ons.navigator.popPage();") Fertig
