ons-navigator
  ons-page
    ons-toolbar
      .center Kontakte
      .right
        ons-toolbar-button(ng-click="ons.navigator.pushPage('partials/page4.html')")
          ons-icon(icon="plus")
    section(style="padding: 8px")
      ons-list
        ons-list-item Kontakt 1
        ons-list-item Kontakt 2
        ons-list-item Kontakt 3