html
  head
    meta(charset="utf-8")
    meta(name="format-detection", content="telephone=no")
    meta(name="viewport", content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi")
    link(rel="stylesheet", type="text/css", href="vendor/css/vendor.min.css")
    link(rel="stylesheet", type="text/css", href="css/app.css")
    meta(name="msapplication-tap-highlight", content="no")
    title Mampf
  body
    .app(ng-controller="MainCtrl")
        ons-tabbar
          ons-tabbar-item(label="Essen",icon="cutlery",page="partials/lunch/lunch.html")
          ons-tabbar-item(label="Kontakte",icon="group",page="partials/contacts/contacts.html")
          ons-tabbar-item(active="true",label="Profil",icon="user",page="partials/profile/profile.html")

    script(type="text/javascript", src="cordova.js")
    script(type="text/javascript", src="vendor/js/vendor.min.js")
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=onGoogleReady")
    script(type="text/javascript", src="js/app.min.js")
