ons-page(class="center")
  ons-toolbar 
    .left
      ons-back-button Back
    .center New Page       

  ons-row(style="margin-top: 100px;")
    ons-col(align="center" )
      ons-button(modifier="light",ng-click="ons.navigator.popPage();") Pop Page         